@font-face {
  font-family: "IBMPlexSans Bold";
  src: url("../../../fonts/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSans SemiBold";
  src: url("../../../fonts/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexSans Medium";
  src: url("../../../fonts/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "IBMPlexSans Medium Italic";
  src: url("../../../fonts/IBMPlexSans-MediumItalic.ttf");
}

@font-face {
  font-family: "IBMPlexSans Regular";
  src: url("../../../fonts/IBMPlexSans-Regular.ttf");
}
